$tablet: 768px;
$large-phone: 600px;
$small-phone: 360px;


@media only screen and (max-width: $tablet) {
  .landing {
    top: 15% !important;
  }


}

@media (max-width: $large-phone) {
  p {
    font-size: 16px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h1 {
    margin-top: 30px !important;
    font-size: 48px !important;
  }
  .my-container {
    width: 95% !important;
  }
  .navbar-home {
    display: none !important;
  }
  .landing-section {
    height: 60vh !important;
  }
  .landing {
    top: 30% !important;
  }
  .image-background {
    background: linear-gradient(72deg, #ae42ff  30%, rgba(0,0,0,0) 30%), linear-gradient(40deg, #ffae42 60%, #42ffae 60%) !important;
  }
  .pic-con {
    width: 100% !important;
  }
  .section-1 {
  margin-top: 15% !important;
  }
  .mob-pad {
    padding: 10px !important;
  }
  .job-contain {
  padding: 10px 5px !important;
    h2 {
      font-size: 24px;
    }
  }
  .descript {

    margin-top: -5px !important;
    margin-left: 5px !important;
  }
  .about-contain {
    margin-bottom: 20px;
  }
  .train-contain {
    margin-left: 30px !important;
  }
  nav li {
    font-size: 12px;
  }
  li.logo {
    font-size: 12px !important;
  }
  .about-1 {
    margin-top: 20px;
  }
  .logo-image {
    width: 60% !important;
  }
  .section-2 {
  margin-top: 20px !important;
}
  .nutrit-descript {
    margin-left: 20px !important;
  }
  .contact-descript {
    margin-left: 20px !important;
    height: 80% !important;
    margin-bottom: 30px;
  }
}


@media (max-width: $small-phone) {
  h2 {
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 700px) {
  .mobnav {
    display: none !important;
  }

}
