nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 2px rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 2s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width: 500px;
}

li.logo a {
  color: black;
  &:hover {
    color: black;
  }
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: white;
  }

}
