@import "mobstyle";
@import "navbar";
@import "landing";
@import "about";
@import "help";
@import "footer";
@import "testimonials";
@import "contact";
@import "https://fonts.googleapis.com/css?family=Lato:400,700,700i,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Cabin:400,700,700i&display=swap";
@import "https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap";

$body-font: 'Lato', sans-serif;
$header-font: 'Cabin', sans-serif;

$blue: #03B3AC;
$background: #EEEEEE;

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: $body-font;
  background: $background;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.my-container{
  margin: 0 auto;
  width: 65%;
}

img {
  border-radius: 5px;
}
