$tablet: 768px;
$large-phone: 600px;
$small-phone: 360px;


@media only screen and (max-width: $tablet) {

}

@media (max-width: $large-phone) {
  p {
    font-size: 16px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .my-container {
    width: 95% !important;
  }
  .navbar-home {
    display: none !important;
  }
  .landing-section {
    height: 60vh !important;
  }
  .landing {
    top: 45% !important;
    h1 {
      font-size: 28px !important;
    }
  }
  .pic-con {
    width: 100% !important;
  }
  .section-1 {
  margin-top: 15% !important;
  }
  .job-contain {
  padding: 10px 5px !important;
    h2 {
      font-size: 24px;
    }
  }
  .descript {
    padding: 10px 5px !important;
    margin-top: -5px !important;
    margin-left: 10px !important;
  }
  .about-contain {
    margin-bottom: 20px;
  }
}

@media (max-width: $small-phone) {

}

@media only screen and (min-width: 700px) {
  .mobnav {
    display: none !important;
}
}
