.image-background {
  height: calc(100vh);
  padding: 0;
  width: 100vw; }

.landing-section {
  height: calc(100vh - 80px);
  width: 100vw; }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 25%;
  position: relative;
  color: #f0f0f0; }
  .landing h1 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    opacity: 0.8; }
