.help-head {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #03B3AC; }

.nutrit-contain {
  background-color: #03B3AC;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 20px 10px;
  width: 80%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .nutrit-contain h2 {
    font-weight: bold; }

.nutrit-descript {
  background-color: white;
  padding: 20px;
  margin-top: -20px;
  margin-left: 50px;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.train-contain {
  background-color: #03B3AC;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 20px 5px;
  width: 90%;
  margin-left: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .train-contain h2 {
    font-weight: bold; }

.train-descript {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-top: -20px; }
