.image-background {
  height: 70vh;
  padding: 0;
  background-image: url("../images/sil.jpeg");
  background-position: center;
  background-repeat: no-repeat; }

.landing-section {
  height: calc(100vh - 80px);
  width: 100vw; }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 12%;
  position: relative;
  color: #f0f0f0; }

.fa-instagram {
  color: white; }

.logo-image {
  width: 22%; }

.header-section h1 {
  font-size: 96px;
  margin: 60px 0 30px 0;
  font-family: 'Dancing Script', cursive;
  font-weight: bold; }

.header-section h2 {
  color: rgba(10, 10, 10, 0.9);
  font-style: italic;
  font-size: 32px; }
