.image-background {
  height: 70vh;
  padding: 0;
  background: -webkit-linear-gradient(70deg, #03b354 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, #03b3ac 60%, #0362b3 60%);
  background: -o-linear-gradient(70deg, #03b354 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, #03b3ac 60%, #0362b3 60%);
  background: -moz-linear-gradient(70deg, #03b354 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, #03b3ac 60%, #0362b3 60%);
  background: linear-gradient(70deg, #03b354 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #03b3ac 60%, #0362b3 60%); }

.landing-section {
  height: calc(100vh - 80px);
  width: 100vw; }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 25%;
  position: relative;
  color: #f0f0f0; }
  .landing h1 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    opacity: 0.9; }

.fa-instagram {
  color: white; }
