@media only screen and (max-width: 768px) {
  .landing {
    top: 15% !important; } }

@media (max-width: 600px) {
  p {
    font-size: 16px !important; }
  h2 {
    font-size: 24px !important; }
  .my-container {
    width: 95% !important; }
  .navbar-home {
    display: none !important; }
  .landing-section {
    height: 60vh !important; }
  .landing {
    top: 30% !important; }
    .landing h1 {
      font-size: 28px !important; }
  .image-background {
    background: linear-gradient(72deg, #03b354 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(40deg, #03b3ac 60%, #0362b3 60%) !important; }
  .pic-con {
    width: 100% !important; }
  .section-1 {
    margin-top: 15% !important; }
  .job-contain {
    padding: 10px 5px !important; }
    .job-contain h2 {
      font-size: 24px; }
  .descript {
    padding: 10px !important;
    margin-top: -5px !important;
    margin-left: 5px !important; }
  .about-contain {
    margin-bottom: 20px; }
  .train-contain {
    margin-left: 30px !important; }
  nav li {
    font-size: 12px; }
  li.logo {
    font-size: 12px !important; }
  .about-1 {
    margin-top: 20px; }
  .logo-image {
    width: 60% !important; } }

@media (max-width: 360px) {
  h2 {
    font-size: 20px !important; } }

@media only screen and (min-width: 700px) {
  .mobnav {
    display: none !important; } }
